<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<header>
<h1>Jean's Page</h1>
</header>
<main>
    {{{body}}}
</main>
<footer>
    <h4>jyang3104@yahoo.com</h4>
</footer>
</body>