<h2>HIGHTLIGHTS</h2>
<ul>
    <li>Working experience with HTML5, CSS3, JavaScript, Jquery to create webpage.</li>
    <li>Good knowledge of Node.js, Bootstrap.</li>
    <li>Good skills in SQL (MySQL, Oracle).</li>
    <li>Familiar with develop tools such as visual studio, visual studio code, WS, eclipse, etc. experienced with different operating system (Windows, Unix/Linux, Mac OS).</li>
    <li>Skillful in C/C++ and JAVA to create application.</li>
    <li>Steady experience in PhotoShop, Illustrator to design posters, edit pictures, icons for website.</li>
    <li>Experienced to maintain and create database in FileMaker based on AWS to manage inventory system and analyze the marketing data.</li>
    <li>Strong Skills in MS Office suite (Word, PowerPoint, Excel, Visio, visual paradigm etc.).</li>
    <li>Detail Oriented and fast learner, good worker in a team as well as individually.</li>
</ul>

<h2>TECHNICAL SKILLS</h2>
<ul>
    <li><strong>Programming Language:</strong> C, C++, Java*, JavaScript, Node.js*</li>
    <li><strong>Operating System:</strong> Linux/Unix, Windows, Mac OS, MS-DOS</li>
    <li><strong>Database:</strong> Oracle, MySQL, SQL Server</li>
    <li><strong>Web development:</strong> HTML5/6, CSS3, JavaScript, Jquery*, JSON</li>
    <li><strong>Tools: </strong>Visual studio, Visual studio code, WS, IntelliJ IDEA, Eclipse, MatLab, handlebars, express.js, GIT</li>
</ul>

<h2>ACADEMIC PROJECT</h2>
<h4><strong>Desserts Store Website</strong></h4>
<p> desserts store selling 4 categories of desserts, using Node.js and express to code server side JavaScript. The handlebar to control the render pages, and body-parser to get form information from client. And depending on the client’s choice, filter the data displaying on screen.
  <a href="https://website-practice-jyang.herokuapp.com/">Click to see</a></p>